@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* IBM Plex Mono Start */
    @font-face {
        font-display: swap; 
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 300;
        src: url('../fonts/mono/ibm-plex-mono-v19-latin-300.woff2') format('woff2'); 
    }
    
    @font-face {
        font-display: swap; 
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/mono/ibm-plex-mono-v19-latin-regular.woff2') format('woff2'); 
    }
    
    @font-face {
        font-display: swap; 
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 500;
        src: url('../fonts/mono/ibm-plex-mono-v19-latin-500.woff2') format('woff2'); 
    }
    
    @font-face {
        font-display: swap; 
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 600;
        src: url('../fonts/mono/ibm-plex-mono-v19-latin-600.woff2') format('woff2'); 
    }
    /* IBM Plex Mono End */

    /* IBM Plex Snas Fonts Start */
    @font-face {
        font-display: swap; 
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 300;
        src: url('../fonts/sans/ibm-plex-sans-v19-latin-300.woff2') format('woff2'); 
    }
    
    @font-face {
        font-display: swap; 
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/sans/ibm-plex-sans-v19-latin-regular.woff2') format('woff2');
    }
    
    @font-face {
        font-display: swap; 
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        src: url('../fonts/sans/ibm-plex-sans-v19-latin-500.woff2') format('woff2'); 
    }
    
    @font-face {
        font-display: swap; 
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 600;
        src: url('../fonts/sans/ibm-plex-sans-v19-latin-600.woff2') format('woff2'); 
    }

    @font-face {
        font-display: swap;
        font-family: 'IBM Plex Sans';
        font-style: italic;
        font-weight: 600;
        src: url('../fonts/sans/ibm-plex-sans-v19-latin-600italic.woff2') format('woff2');
    }
    /* IBM Plex Sans End */
}