---
//Image optimization imports
import { Image } from 'astro:assets';
import mcmImage from '../assets/MCM-Cover.png'
import cecImage from '../assets/CEC-Cover.png'

//Component imports
import Navigation from '../components/Navigation.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Card from '../components/Card.astro';
import Tooltip from '../components/Tooltip.astro';
import Tool from '../components/Tool.astro';
---

<MainLayout title='Home | Kevin Payano Portfolio'>

	<!-- Hero Section Starts -->
    <section class="h-screen flex justify-center align-middle bg-[#010105]">
		<div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-2">
			<div class="mr-auto place-self-center lg:col-span-1 lg:ml-6">
				<h1 class="text-gray-100 max-w-2xl mb-4 text-4xl font-mono tracking-tight leading-none md:text-4xl lg:text-5xl xl:text-5xl">Hi, my name is Kevin. I build conversion-leading websites for businesses.</h1>
				<a href="#aboutSection" class="group cursor-pointer inline-flex items-center justify-center px-3 py-2.5 font-sans font-medium text-center text-gray-200 shrink-0 hover:text-gray-100 hover:underline sm:px-5">
					Learn more
					<svg class="w-5 h-5 text-gray-200 ml-2 self-end transition ease-in-out duration-500 group-hover:translate-x-1 group-hover:opacity-100" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path fill="currentColor" d="m359.873 121.377l-22.627 22.627l95.997 95.997H16v32.001h417.24l-95.994 95.994l22.627 22.627L494.498 256L359.873 121.377z"/></svg>
				</a>
			</div>

			<a href="#projectSection" class="cursor-pointer relative justify-center place-self-center group hidden md:flex lg:mt-0 lg:col-span-1">
				<svg class="animate-spin-slow" width="181" height="190" viewBox="0 0 181 190" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M169.108 122.964C169.423 122.08 169.852 121.383 170.395 120.874C170.934 120.376 171.554 120.002 172.254 119.752L172.937 121.32C172.352 121.531 171.866 121.816 171.477 122.176C171.085 122.546 170.788 123.018 170.584 123.591C170.344 124.264 170.315 124.825 170.495 125.274C170.675 125.723 171.021 126.039 171.534 126.221C171.946 126.367 172.315 126.363 172.642 126.207C172.969 126.052 173.302 125.689 173.641 125.119L174.139 124.243C174.694 123.286 175.304 122.637 175.969 122.296C176.633 121.955 177.388 121.934 178.232 122.234C178.694 122.399 179.081 122.632 179.392 122.936C179.71 123.252 179.939 123.611 180.079 124.012C180.226 124.426 180.29 124.885 180.27 125.387C180.25 125.889 180.14 126.422 179.939 126.985C179.657 127.779 179.272 128.417 178.783 128.9C178.304 129.387 177.731 129.743 177.061 129.969L176.43 128.403C176.878 128.257 177.277 128.025 177.628 127.708C177.978 127.391 178.257 126.941 178.464 126.358C178.678 125.755 178.724 125.245 178.601 124.828C178.477 124.41 178.185 124.119 177.722 123.955C177.28 123.798 176.9 123.816 176.583 124.008C176.275 124.205 175.964 124.57 175.65 125.103L175.122 125.968C174.545 126.952 173.93 127.599 173.276 127.91C172.619 128.231 171.868 128.242 171.024 127.941C170.531 127.766 170.115 127.522 169.773 127.208C169.432 126.894 169.175 126.52 169.001 126.085C168.834 125.663 168.754 125.187 168.761 124.658C168.778 124.132 168.894 123.567 169.108 122.964Z" fill="white"/>
					<path d="M162.688 136.935C163.417 135.669 164.415 134.92 165.68 134.688C166.955 134.462 168.406 134.818 170.033 135.755C170.846 136.223 171.51 136.728 172.023 137.269C172.535 137.811 172.903 138.38 173.126 138.976C173.349 139.572 173.423 140.181 173.349 140.802C173.278 141.438 173.061 142.071 172.699 142.699C172.215 143.541 171.626 144.137 170.931 144.488C170.231 144.848 169.428 144.982 168.521 144.89L168.558 143.158C169.116 143.258 169.63 143.209 170.101 143.012C170.575 142.83 170.974 142.457 171.299 141.893C171.73 141.144 171.814 140.411 171.55 139.693C171.287 138.975 170.707 138.358 169.81 137.842L168.34 136.995C167.443 136.479 166.618 136.287 165.865 136.42C165.112 136.552 164.52 136.993 164.089 137.741C163.753 138.324 163.63 138.88 163.718 139.411C163.81 139.957 164.041 140.453 164.412 140.9L162.923 141.723C162.406 140.995 162.117 140.225 162.055 139.414C161.993 138.602 162.204 137.776 162.688 136.935Z" fill="white"/>
					<path d="M155.416 147.907L156.594 146.535L165.07 153.807L161.934 157.462C161.281 158.223 160.536 158.624 159.7 158.665C158.871 158.713 158.064 158.4 157.279 157.727C156.672 157.206 156.287 156.63 156.126 155.999C155.965 155.384 156.037 154.735 156.34 154.054L151.197 152.825L152.51 151.295L157.393 152.533L158.841 150.845L155.416 147.907ZM158.119 154.02C157.82 154.368 157.677 154.716 157.688 155.063C157.708 155.417 157.887 155.74 158.227 156.032L158.81 156.532C159.15 156.823 159.493 156.949 159.837 156.907C160.19 156.872 160.516 156.681 160.815 156.333L162.69 154.147L159.994 151.834L158.119 154.02Z" fill="white"/>
					<path d="M142.467 160.434C143.036 159.984 143.631 159.67 144.251 159.491C144.87 159.328 145.496 159.303 146.128 159.414C146.759 159.541 147.388 159.812 148.016 160.227C148.641 160.657 149.245 161.24 149.827 161.976C150.41 162.712 150.835 163.43 151.102 164.13C151.368 164.844 151.487 165.519 151.459 166.153C151.428 166.803 151.259 167.406 150.951 167.962C150.642 168.533 150.202 169.044 149.633 169.494C149.065 169.944 148.471 170.251 147.852 170.414C147.231 170.592 146.605 170.618 145.975 170.491C145.342 170.379 144.713 170.108 144.088 169.678C143.46 169.263 142.855 168.688 142.273 167.951C141.691 167.215 141.267 166.49 141.001 165.775C140.733 165.076 140.614 164.401 140.645 163.752C140.673 163.117 140.842 162.514 141.152 161.943C141.46 161.387 141.898 160.884 142.467 160.434ZM143.47 161.701C143.135 161.966 142.876 162.266 142.692 162.601C142.501 162.943 142.395 163.299 142.374 163.669C142.352 164.054 142.412 164.448 142.555 164.852C142.698 165.256 142.928 165.659 143.245 166.06L144.337 167.441C144.655 167.842 144.994 168.159 145.354 168.391C145.714 168.623 146.081 168.768 146.454 168.827C146.825 168.9 147.199 168.883 147.576 168.775C147.945 168.674 148.296 168.491 148.631 168.227C148.974 167.955 149.237 167.652 149.421 167.316C149.604 166.981 149.707 166.621 149.729 166.236C149.749 165.866 149.688 165.48 149.545 165.076C149.403 164.672 149.173 164.269 148.855 163.867L147.763 162.487C147.446 162.085 147.107 161.769 146.746 161.537C146.386 161.305 146.021 161.152 145.649 161.078C145.277 161.02 144.906 161.041 144.537 161.142C144.168 161.244 143.813 161.43 143.47 161.701Z" fill="white"/>
					<path d="M132.496 167.547L137.736 177.409L136.14 178.258L131.65 169.808L127.638 171.94L126.887 170.527L132.496 167.547Z" fill="white"/>
					<path d="M120.199 173.399L123.765 183.982L122.052 184.559L118.997 175.492L114.691 176.943L114.18 175.427L120.199 173.399Z" fill="white"/>
					<path d="M98.4614 178.472L99.0293 189.625L92.0623 189.98L91.981 188.382L97.1423 188.119L96.9845 185.019L92.3984 185.253L92.317 183.655L96.9031 183.421L96.6558 178.564L98.4614 178.472Z" fill="white"/>
					<path d="M79.6354 177.847C80.3541 177.945 80.9927 178.156 81.5513 178.48C82.098 178.813 82.5501 179.246 82.9079 179.78C83.2536 180.322 83.4944 180.963 83.6301 181.703C83.7539 182.452 83.7522 183.292 83.6251 184.222C83.4981 185.152 83.2752 185.956 82.9565 186.633C82.6258 187.32 82.2219 187.873 81.7447 188.293C81.2555 188.721 80.7037 189.017 80.0892 189.181C79.4628 189.353 78.7902 189.391 78.0715 189.293C77.3529 189.194 76.7202 188.979 76.1736 188.646C75.615 188.322 75.1628 187.888 74.8171 187.346C74.4593 186.813 74.2186 186.171 74.0948 185.423C73.9591 184.683 73.9547 183.848 74.0818 182.918C74.2089 181.988 74.4378 181.179 74.7685 180.492C75.0872 179.815 75.4911 179.261 75.9803 178.833C76.4574 178.414 77.0092 178.118 77.6357 177.945C78.2502 177.781 78.9168 177.749 79.6354 177.847ZM79.4167 179.448C78.9939 179.39 78.5981 179.411 78.2291 179.512C77.8495 179.611 77.5195 179.781 77.2388 180.022C76.9462 180.273 76.7038 180.59 76.5115 180.973C76.3192 181.356 76.1884 181.801 76.1191 182.308L75.8809 184.052C75.8115 184.559 75.8181 185.023 75.9007 185.443C75.9832 185.864 76.1325 186.228 76.3486 186.538C76.5527 186.856 76.8243 187.114 77.1634 187.311C77.4919 187.507 77.8676 187.634 78.2903 187.691C78.7236 187.751 79.1247 187.73 79.4937 187.63C79.8627 187.529 80.1935 187.354 80.4861 187.103C80.7668 186.862 81.0032 186.549 81.1955 186.167C81.3877 185.784 81.5185 185.339 81.5878 184.831L81.8261 183.088C81.8954 182.58 81.8888 182.117 81.8063 181.696C81.7238 181.276 81.5805 180.906 81.3764 180.588C81.1603 180.278 80.888 180.026 80.5594 179.83C80.2309 179.635 79.85 179.507 79.4167 179.448Z" fill="white"/>
					<path d="M65.8977 175.056L67.6091 175.639L64.0082 186.21L59.4494 184.657C58.5003 184.334 57.8511 183.792 57.5019 183.031C57.1493 182.279 57.1398 181.414 57.4734 180.435C57.7313 179.677 58.123 179.107 58.6484 178.722C59.1602 178.344 59.7887 178.17 60.534 178.198L59.7638 172.966L61.6721 173.616L62.3377 178.61L64.4429 179.327L65.8977 175.056ZM61.2266 179.837C60.7924 179.689 60.4163 179.685 60.0983 179.825C59.7769 179.974 59.544 180.261 59.3995 180.685L59.1519 181.412C59.0074 181.836 59.0186 182.201 59.1852 182.505C59.3484 182.82 59.6471 183.051 60.0813 183.199L62.8075 184.128L63.9528 180.766L61.2266 179.837Z" fill="white"/>
					<path d="M33.5244 167.51L33.5887 167.558L35.3719 166.629L39.9959 164.498L39.3064 169.542L38.9375 171.519L39.0018 171.567L44.0868 164.701L45.4754 165.729L38.8287 174.704L37.1058 173.428L38.0819 167.083L38.0047 167.025L32.2198 169.809L30.574 168.59L37.2208 159.616L38.6094 160.644L33.5244 167.51Z" fill="white"/>
					<path d="M28.4182 150.661C28.8983 151.205 29.2441 151.782 29.4556 152.392C29.652 153.001 29.7115 153.625 29.6341 154.262C29.5416 154.899 29.3052 155.541 28.9248 156.19C28.5293 156.838 27.9798 157.473 27.2762 158.094C26.5725 158.716 25.8787 159.179 25.1948 159.484C24.4957 159.788 23.8286 159.943 23.1935 159.949C22.5433 159.954 21.9321 159.818 21.3598 159.54C20.7726 159.262 20.2389 158.851 19.7588 158.307C19.2787 157.764 18.9405 157.187 18.7441 156.578C18.5326 155.968 18.4731 155.344 18.5656 154.708C18.643 154.07 18.8794 153.427 19.2748 152.779C19.6552 152.13 20.1972 151.495 20.9009 150.874C21.6045 150.253 22.3058 149.79 23.0049 149.486C23.6889 149.181 24.3559 149.026 25.0062 149.021C25.6413 149.015 26.2525 149.151 26.8398 149.429C27.412 149.707 27.9381 150.117 28.4182 150.661ZM27.2069 151.731C26.9245 151.411 26.6108 151.168 26.2659 151.003C25.9139 150.83 25.5528 150.744 25.1825 150.743C24.7972 150.742 24.4067 150.824 24.0111 150.988C23.6154 151.152 23.2257 151.404 22.8419 151.743L21.5226 152.908C21.1388 153.247 20.8409 153.602 20.6289 153.974C20.4168 154.347 20.2915 154.721 20.2531 155.096C20.1996 155.471 20.2369 155.843 20.365 156.214C20.486 156.577 20.6878 156.918 20.9702 157.238C21.2596 157.565 21.5768 157.812 21.9218 157.977C22.2667 158.142 22.6318 158.225 23.0171 158.226C23.3874 158.227 23.7704 158.145 24.166 157.98C24.5616 157.816 24.9513 157.564 25.3351 157.226L26.6544 156.061C27.0382 155.722 27.3361 155.366 27.5482 154.994C27.7603 154.622 27.893 154.248 27.9465 153.874C27.985 153.498 27.9437 153.129 27.8226 152.767C27.7016 152.404 27.4963 152.059 27.2069 151.731Z" fill="white"/>
					<path d="M19.8378 139.576L20.7531 141.135L11.122 146.789L8.68391 142.635C8.17631 141.771 8.03887 140.936 8.2716 140.132C8.49513 139.332 9.05304 138.671 9.94532 138.147C10.6352 137.742 11.3047 137.566 11.9536 137.618C12.5879 137.666 13.178 137.944 13.7238 138.452L16.5573 133.987L17.5779 135.726L14.8209 139.942L15.9468 141.86L19.8378 139.576ZM13.1779 140.146C12.9457 139.75 12.6636 139.501 12.3317 139.399C11.9905 139.303 11.6267 139.368 11.2404 139.595L10.5781 139.983C10.1917 140.21 9.96216 140.493 9.88939 140.833C9.80742 141.178 9.88253 141.548 10.1147 141.944L11.5727 144.428L14.6359 142.629L13.1779 140.146Z" fill="white"/>
					<path d="M13.4864 127.356L2.9955 131.186L0.543091 124.467L2.04609 123.919L3.87853 128.939L6.79435 127.875L5.13198 123.32L6.63497 122.772L8.29734 127.326L11.3635 126.207L9.53101 121.187L11.034 120.638L13.4864 127.356Z" fill="white"/>
					<path d="M12.3279 67.0759C12.006 67.9576 11.5714 68.6506 11.024 69.1548C10.4802 69.649 9.85733 70.0177 9.15532 70.2611L8.48607 68.6883C9.0723 68.4821 9.56111 68.2007 9.9525 67.8439C10.3475 67.4771 10.6493 67.0082 10.8578 66.437C11.1029 65.7657 11.1373 65.2048 10.961 64.7544C10.7848 64.304 10.4411 63.9855 9.93013 63.799C9.51931 63.649 9.14977 63.6504 8.82151 63.8031C8.49325 63.9558 8.15744 64.3158 7.81409 64.8831L7.30861 65.7547C6.74515 66.7072 6.12968 67.3512 5.46219 67.6867C4.79469 68.0221 4.0401 68.0362 3.19843 67.729C2.73751 67.5607 2.35277 67.3238 2.04421 67.0181C1.72928 66.6988 1.50327 66.3381 1.36615 65.936C1.22267 65.5203 1.16309 65.0613 1.1874 64.5592C1.21171 64.0571 1.32628 63.5255 1.53111 62.9644C1.82005 62.1728 2.21088 61.5377 2.70358 61.0589C3.18626 60.5765 3.76309 60.225 4.43409 60.0044L5.05277 61.5758C4.60331 61.7183 4.20206 61.9466 3.84899 62.2605C3.49593 62.5745 3.21332 63.0221 3.00118 63.6032C2.78173 64.2044 2.73189 64.7142 2.85167 65.1327C2.97145 65.5511 3.2618 65.8445 3.72272 66.0127C4.1636 66.1736 4.54363 66.1591 4.86283 65.969C5.172 65.7753 5.48594 65.413 5.80464 64.882L6.34019 64.0215C6.92463 63.0426 7.54511 62.4004 8.20164 62.095C8.86182 61.7796 9.61275 61.7755 10.4544 62.0827C10.9454 62.262 11.3602 62.5099 11.6988 62.8265C12.0374 63.1432 12.2917 63.5199 12.4616 63.9566C12.6251 64.3796 12.7011 64.8559 12.6895 65.3854C12.6679 65.9112 12.5473 66.4747 12.3279 67.0759Z" fill="white"/>
					<path d="M18.8655 53.1595C18.1257 54.4197 17.1221 55.1602 15.8546 55.3809C14.5779 55.5962 13.1301 55.2287 11.5111 54.2783C10.7016 53.8031 10.0427 53.2926 9.53437 52.7468C9.02605 52.201 8.66292 51.6291 8.44498 51.0312C8.22704 50.4332 8.15808 49.8238 8.23811 49.2029C8.31434 48.5673 8.53606 47.9368 8.90326 47.3113C9.39466 46.4742 9.98904 45.8831 10.6864 45.538C11.3891 45.1836 12.1938 45.0561 13.1003 45.1553L13.0483 46.8874C12.4911 46.7829 11.9766 46.8272 11.5046 47.0202C11.0289 47.1985 10.6263 47.5683 10.2969 48.1294C9.85947 48.8745 9.76954 49.6071 10.0271 50.3273C10.2846 51.0474 10.8595 51.6694 11.7518 52.1932L13.2144 53.0518C14.1067 53.5756 14.93 53.7744 15.6843 53.6483C16.4387 53.5221 17.0345 53.0865 17.4719 52.3414C17.8121 51.7619 17.9403 51.2063 17.8566 50.6748C17.769 50.1286 17.542 49.6305 17.1754 49.1803L18.6714 48.3702C19.1815 49.1025 19.4643 49.8746 19.5196 50.6863C19.575 51.498 19.3569 52.3224 18.8655 53.1595Z" fill="white"/>
					<path d="M26.2292 42.2495L25.0404 43.6117L16.6259 36.2687L19.7924 32.6401C20.4517 31.8846 21.1997 31.4898 22.0365 31.4556C22.8653 31.4143 23.6695 31.7339 24.4491 32.4142C25.0518 32.9402 25.4314 33.5191 25.5878 34.1511C25.7431 34.768 25.6662 35.4158 25.3571 36.0946L30.4898 37.3671L29.1643 38.8861L24.2919 37.6071L22.8296 39.2828L26.2292 42.2495ZM23.578 36.1135C23.8796 35.7679 24.0261 35.4215 24.0176 35.0743C24.0011 34.7201 23.8241 34.3958 23.4865 34.1012L22.9079 33.5962C22.5703 33.3017 22.229 33.1737 21.8838 33.2123C21.5307 33.2439 21.2033 33.4324 20.9017 33.778L19.0081 35.948L21.6844 38.2834L23.578 36.1135Z" fill="white"/>
					<path d="M39.2835 29.8319C38.7109 30.277 38.1135 30.5861 37.4913 30.759C36.871 30.9169 36.2451 30.9374 35.6137 30.8203C34.9841 30.6882 34.3574 30.4121 33.7335 29.9919C33.1114 29.5567 32.5124 28.9686 31.9363 28.2275C31.3602 27.4864 30.9412 26.765 30.6795 26.0633C30.4196 25.3466 30.3065 24.6711 30.3404 24.0369C30.3761 23.3876 30.5502 22.7861 30.8628 22.2324C31.1773 21.6636 31.6209 21.1567 32.1935 20.7115C32.7662 20.2663 33.3627 19.9648 33.983 19.8068C34.6051 19.6339 35.231 19.6135 35.8606 19.7456C36.492 19.8626 37.1188 20.1388 37.7408 20.574C38.3647 20.9942 38.9647 21.5748 39.5408 22.3159C40.1169 23.057 40.5349 23.7858 40.7948 24.5025C41.0566 25.2042 41.1696 25.8797 41.1339 26.529C41.1 27.1632 40.9259 27.7647 40.6114 28.3335C40.2988 28.8872 39.8562 29.3867 39.2835 29.8319ZM38.2917 28.556C38.6286 28.2942 38.8901 27.9963 39.0764 27.6623C39.271 27.3218 39.3801 26.9668 39.4036 26.5973C39.429 26.2128 39.372 25.818 39.2327 25.4129C39.0934 25.0078 38.8666 24.6031 38.5524 24.1989L37.4722 22.8093C37.158 22.4051 36.8217 22.0855 36.4635 21.8506C36.1052 21.6157 35.7399 21.4674 35.3676 21.4055C34.9972 21.3287 34.6229 21.3427 34.245 21.4473C33.8754 21.5455 33.5222 21.7255 33.1853 21.9874C32.8401 22.2558 32.5743 22.5569 32.3881 22.8909C32.2018 23.2248 32.096 23.584 32.0706 23.9685C32.0472 24.3381 32.1051 24.7254 32.2444 25.1305C32.3837 25.5356 32.6104 25.9403 32.9247 26.3445L34.0049 27.734C34.3191 28.1383 34.6553 28.4578 35.0136 28.6927C35.3718 28.9276 35.7362 29.0835 36.1066 29.1603C36.479 29.2221 36.8499 29.204 37.2195 29.1058C37.589 29.0077 37.9464 28.8244 38.2917 28.556Z" fill="white"/>
					<path d="M49.3135 22.8026L44.1567 12.8964L45.7604 12.0616L50.1784 20.5485L54.209 18.4503L54.9478 19.8696L49.3135 22.8026Z" fill="white"/>
					<path d="M61.6595 17.0545L58.1822 6.44163L59.9003 5.87868L62.8795 14.9711L67.1976 13.5562L67.6958 15.0767L61.6595 17.0545Z" fill="white"/>
					<path d="M83.4391 12.1643L82.965 1.00634L89.9347 0.710205L90.0026 2.30876L84.8393 2.52815L84.971 5.62935L89.5589 5.43442L89.6268 7.03297L85.039 7.22791L85.2454 12.0875L83.4391 12.1643Z" fill="white"/>
					<path d="M102.259 12.9474C101.541 12.8432 100.905 12.6268 100.349 12.2981C99.8049 11.9605 99.3564 11.5235 99.0031 10.9872C98.6619 10.4418 98.4266 9.79865 98.2971 9.05767C98.1796 8.30768 98.1884 7.46822 98.3232 6.5393C98.4581 5.61037 98.6878 4.80838 99.0121 4.13332C99.3486 3.44924 99.7572 2.89958 100.238 2.48434C100.731 2.06008 101.285 1.76871 101.901 1.61023C102.529 1.44273 103.201 1.41109 103.919 1.51533C104.637 1.61956 105.268 1.8405 105.812 2.17815C106.368 2.50678 106.816 2.94377 107.157 3.48912C107.511 4.02546 107.746 4.66862 107.863 5.41861C107.993 6.15958 107.99 6.99453 107.855 7.92346C107.72 8.85238 107.485 9.65888 107.148 10.343C106.824 11.018 106.415 11.5677 105.923 11.9919C105.442 12.4072 104.888 12.6986 104.26 12.8661C103.644 13.0245 102.977 13.0517 102.259 12.9474ZM102.491 11.3482C102.914 11.4095 103.31 11.3916 103.68 11.2944C104.06 11.1987 104.391 11.0313 104.674 10.7921C104.969 10.5438 105.214 10.2291 105.409 9.84794C105.605 9.46674 105.739 9.0228 105.813 8.51611L106.066 6.77438C106.139 6.26769 106.137 5.80382 106.058 5.38277C105.979 4.96172 105.833 4.59557 105.619 4.28433C105.418 3.96406 105.148 3.70398 104.811 3.50408C104.484 3.30571 104.109 3.17587 103.687 3.11455C103.254 3.05171 102.853 3.06888 102.483 3.16608C102.113 3.26328 101.781 3.43599 101.486 3.68422C101.204 3.92342 100.965 4.23361 100.769 4.61481C100.574 4.99601 100.439 5.43996 100.366 5.94664L100.113 7.68837C100.039 8.19506 100.042 8.65893 100.121 9.07998C100.2 9.50104 100.34 9.8717 100.541 10.192C100.755 10.5032 101.025 10.758 101.352 10.9564C101.679 11.1547 102.059 11.2854 102.491 11.3482Z" fill="white"/>
					<path d="M115.973 15.8539L114.266 15.2566L117.956 4.71569L122.502 6.30679C123.448 6.63804 124.093 7.18575 124.435 7.94991C124.782 8.704 124.784 9.56933 124.442 10.5459C124.178 11.301 123.781 11.8685 123.253 12.2486C122.738 12.6221 122.108 12.7915 121.363 12.7567L122.089 17.9948L120.186 17.3287L119.563 12.33L117.464 11.5953L115.973 15.8539ZM120.684 11.1121C121.117 11.2636 121.493 11.2709 121.812 11.134C122.135 10.9871 122.37 10.7021 122.518 10.2793L122.772 9.55442C122.92 9.13158 122.912 8.76712 122.748 8.46106C122.587 8.14492 122.29 7.91109 121.858 7.75955L119.139 6.80807L117.966 10.1606L120.684 11.1121Z" fill="white"/>
					<path d="M148.282 23.6714L148.218 23.6232L146.427 24.5374L141.785 26.6288L142.517 21.5905L142.902 19.617L142.839 19.5689L137.696 26.3919L136.316 25.3518L143.038 16.4333L144.75 17.7238L143.721 24.0606L143.797 24.1184L149.605 21.3833L151.241 22.616L144.519 31.5345L143.139 30.4944L148.282 23.6714Z" fill="white"/>
					<path d="M153.246 40.5626C152.77 40.0149 152.43 39.4351 152.223 38.8232C152.032 38.2123 151.978 37.5885 152.06 36.9516C152.158 36.3158 152.4 35.6751 152.786 35.0294C153.187 34.3847 153.742 33.7547 154.45 33.1394C155.159 32.524 155.857 32.0666 156.543 31.7673C157.245 31.469 157.913 31.3196 158.549 31.319C159.199 31.3196 159.809 31.4609 160.379 31.7431C160.964 32.0264 161.494 32.4419 161.969 32.9896C162.445 33.5373 162.778 34.1166 162.97 34.7274C163.176 35.3393 163.23 35.9632 163.132 36.599C163.05 37.2359 162.808 37.8766 162.407 38.5213C162.021 39.167 161.474 39.7975 160.765 40.4129C160.056 41.0282 159.351 41.4851 158.649 41.7833C157.963 42.0827 157.294 42.2321 156.644 42.2316C156.009 42.2321 155.399 42.0908 154.814 41.8075C154.244 41.5253 153.721 41.1104 153.246 40.5626ZM154.466 39.5033C154.746 39.8254 155.058 40.0705 155.401 40.2384C155.752 40.4144 156.112 40.5041 156.482 40.5075C156.868 40.5121 157.259 40.4338 157.656 40.2728C158.053 40.1118 158.445 39.8635 158.831 39.5278L160.16 38.374C160.547 38.0384 160.848 37.6853 161.063 37.3149C161.278 36.9445 161.406 36.5717 161.448 36.1966C161.505 35.8225 161.471 35.4496 161.346 35.0778C161.228 34.7141 161.029 34.3712 160.749 34.049C160.462 33.7187 160.147 33.4696 159.804 33.3017C159.46 33.1338 159.096 33.0476 158.71 33.0431C158.34 33.0396 157.957 33.1184 157.56 33.2794C157.163 33.4404 156.771 33.6888 156.384 34.0244L155.055 35.1782C154.668 35.5138 154.368 35.8669 154.152 36.2373C153.937 36.6078 153.801 36.98 153.745 37.3541C153.703 37.7292 153.741 38.0986 153.859 38.4623C153.977 38.826 154.18 39.173 154.466 39.5033Z" fill="white"/>
					<path d="M161.733 51.7201L160.831 50.1533L170.509 44.5807L172.912 48.7542C173.413 49.6232 173.543 50.4589 173.303 51.2615C173.073 52.0587 172.51 52.7154 171.613 53.2317C170.92 53.6309 170.249 53.8018 169.6 53.7444C168.967 53.6909 168.379 53.4077 167.837 52.8948L164.966 57.3358L163.96 55.5887L166.753 51.3961L165.643 49.4687L161.733 51.7201ZM168.397 51.2061C168.626 51.6036 168.906 51.8547 169.237 51.9595C169.578 52.0589 169.942 51.9969 170.33 51.7733L170.996 51.3901C171.384 51.1665 171.616 50.8853 171.692 50.5463C171.777 50.2021 171.705 49.8312 171.476 49.4337L170.039 46.9379L166.96 48.7103L168.397 51.2061Z" fill="white"/>
					<path d="M167.981 63.9921L178.504 60.251L180.9 66.9897L179.392 67.5257L177.602 62.4905L174.678 63.5303L176.302 68.0982L174.794 68.6342L173.17 64.0663L170.095 65.1597L171.885 70.1949L170.377 70.7309L167.981 63.9921Z" fill="white"/>
				</svg>  
				<svg class="absolute flex justify-center place-self-center transition duration-500 ease-in-out group-hover:translate-y-3" width="12" height="101" viewBox="0 0 12 101" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M6.7735 1V0L4.7735 0V1L6.7735 1ZM5.7735 101L11.547 91H-3.8147e-06L5.7735 101ZM4.7735 1L4.7735 92H6.7735L6.7735 1L4.7735 1Z" fill="white"/>
				</svg>            
			</a> 

		</div>
	</section>
	<!-- Hero Section Ends -->

	<Navigation></Navigation>

	<!-- Projects Section Starts -->
    <section id="projectSection" class="bg-[#010105]">
        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16">

			<!-- Project Header Start -->
			<div class="max-w-2xl">
				<h2 class="text-2xl font-mono font-medium leading-tight tracking-tight text-gray-100 md:text-3xl">
				Work | 2023 - Present
				</h2>
			</div>
			<!-- Project Header End -->

		  	<!-- Project Wrapper Start -->
		  	<div class="grid grid-cols-1 gap-12 mt-12 sm:gap-8 lg:gap-16 sm:mt-16 sm:grid-cols">

				<!-- Project 1 -->
				<Card 
				header='Concrete Experts Company' 
				paragraph='Discover how we transformed Concrete Experts Companys online presence, from overhauling outdated design to implementing SEO strategies, enhancing visibility and client experience.'
				href='cec-project.html'>
				
					<Image slot="card-video" transition:name="cec-image" class="p-2 object-cover w-full" src={cecImage} alt="CEC home page"/>

					<!-- Figma -->
					<Tooltip tooltext="Figma">
						<svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M15.332 8.668a3.333 3.333 0 0 0 0-6.663H8.668a3.333 3.333 0 0 0 0 6.663a3.333 3.333 0 0 0 0 6.665a3.333 3.333 0 0 0 0 6.664A3.334 3.334 0 0 0 12 18.664V8.668h3.332z"/><circle cx="15.332" cy="12" r="3.332" fill="currentColor"/></svg>
					</Tooltip>
				
					<!-- HTML5 -->
					<Tooltip tooltext="HTML5">
						<svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M4.136 3.012h15.729l-1.431 16.15l-6.451 1.826l-6.414-1.826l-1.433-16.15zm5.266 7.302l-.173-2.035l7.533.002l.173-1.963l-9.87-.002l.522 5.998h6.835l-.243 2.566l-2.179.602l-2.214-.605l-.141-1.58H7.691l.247 3.123L12 17.506l4.028-1.08l.558-6.111H9.402v-.001z"/></svg>
					</Tooltip>
			
					<!-- CSS3 -->
					<Tooltip tooltext="CSS3">
						<svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M4.192 3.143h15.615l-1.42 16.034l-6.404 1.812l-6.369-1.813L4.192 3.143zM16.9 6.424l-9.8-.002l.158 1.949l7.529.002l-.189 2.02H9.66l.179 1.913h4.597l-.272 2.62l-2.164.598l-2.197-.603l-.141-1.569h-1.94l.216 2.867L12 17.484l3.995-1.137l.905-9.923z"/></svg>
					</Tooltip>
			
					<!-- JavaScript -->
					<Tooltip tooltext="JavaScript">
						<svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M3 3h18v18H3V3zm16.525 13.707c-.131-.821-.666-1.511-2.252-2.155c-.552-.259-1.165-.438-1.349-.854c-.068-.248-.078-.382-.034-.529c.113-.484.687-.629 1.137-.495c.293.09.563.315.732.676c.775-.507.775-.507 1.316-.844c-.203-.314-.304-.451-.439-.586c-.473-.528-1.103-.798-2.126-.775l-.528.067c-.507.124-.991.395-1.283.754c-.855.968-.608 2.655.427 3.354c1.023.765 2.521.933 2.712 1.653c.18.878-.652 1.159-1.475 1.058c-.607-.136-.945-.439-1.316-1.002l-1.372.788c.157.359.337.517.607.832c1.305 1.316 4.568 1.249 5.153-.754c.021-.067.18-.528.056-1.237l.034.049zm-6.737-5.434h-1.686c0 1.453-.007 2.898-.007 4.354c0 .924.047 1.772-.104 2.033c-.247.517-.886.451-1.175.359c-.297-.146-.448-.349-.623-.641c-.047-.078-.082-.146-.095-.146l-1.368.844c.229.473.563.879.994 1.137c.641.383 1.502.507 2.404.305c.588-.17 1.095-.519 1.358-1.059c.384-.697.302-1.553.299-2.509c.008-1.541 0-3.083 0-4.635l.003-.042z"/></svg>
					</Tooltip>
			
					<!-- Tailwind -->
					<Tooltip tooltext="Tailwind">
						<svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M18.5 9.51a4.22 4.22 0 0 1-1.91-1.34A5.77 5.77 0 0 0 12 6a4.72 4.72 0 0 0-5 4a3.23 3.23 0 0 1 3.5-1.49a4.32 4.32 0 0 1 1.91 1.35A5.77 5.77 0 0 0 17 12a4.72 4.72 0 0 0 5-4a3.2 3.2 0 0 1-3.5 1.51zm-13 4.98a4.22 4.22 0 0 1 1.91 1.34A5.77 5.77 0 0 0 12 18a4.72 4.72 0 0 0 5-4a3.23 3.23 0 0 1-3.5 1.49a4.32 4.32 0 0 1-1.91-1.35A5.8 5.8 0 0 0 7 12a4.72 4.72 0 0 0-5 4a3.2 3.2 0 0 1 3.5-1.51z"/></svg>
					</Tooltip>
				
				</Card>

				<!-- Project 2 -->
				<Card
				header='MCM Custom Builders'
				paragraph='Explore our transformative collaboration with MCM Custom Builders, crafting a standout web design that reflects their values and boosts their online visibility.'
				href='mcm-project.html'>

					<Image slot="card-video" transition:name="mcm-image" class="p-2 object-cover w-full" src={mcmImage} alt="MCM home page"/>
			
					<!-- Figma -->
					<Tooltip tooltext="Figma">
						<svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M15.332 8.668a3.333 3.333 0 0 0 0-6.663H8.668a3.333 3.333 0 0 0 0 6.663a3.333 3.333 0 0 0 0 6.665a3.333 3.333 0 0 0 0 6.664A3.334 3.334 0 0 0 12 18.664V8.668h3.332z"/><circle cx="15.332" cy="12" r="3.332" fill="currentColor"/></svg>
					</Tooltip>
					
					<!-- Webflow -->
					<Tooltip tooltext='Webflow'>
						<svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M17.802 8.56s-1.946 6.103-2.105 6.607a4778.8 4778.8 0 0 0-1.484-11.473c-3.316 0-5.089 2.36-6.026 4.851l-2.565 6.637c-.015-.476-.36-6.565-.36-6.565c-.204-3.052-3-4.91-5.262-4.91l2.739 16.6c3.474-.015 5.347-2.361 6.328-4.852c0 0 2.09-5.398 2.176-5.643c.015.23 1.5 10.494 1.5 10.494c3.488 0 5.362-2.202 6.37-4.606L24 3.708c-3.445 0-5.261 2.346-6.198 4.851Z"/></svg>
					</Tooltip>
			
				</Card>

			</div>
			<!-- Project Wrapper End -->

        </div>
    </section>
    <!-- Projects Section Ends -->

	<!-- Testimonial Section Start -->
    <section class="relative h-screen grid content-center bg-gradient-to-b from-black from-10% via-black/50 to-black to-90%">
		<div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:px-6">
			<figure class="max-w-screen-md mx-auto">
				<blockquote>
					<p class="text-xl font-sans text-gray-100 md:text-2xl">"Flowbite is just awesome. It contains tons of predesigned components and pages starting from login screen to complex dashboard. Perfect choice for your next SaaS application."</p>
				</blockquote>
				<figcaption class="flex items-center justify-center mt-6 space-x-3">
					<div class="grid grid-cols-1 items-center divide-y-2 divide-gray-900">
						<div class="p-2 font-sans font-medium text-center text-gray-100">Miguel Martinez</div>
						<div class="p-2 text-sm text-center font-mono font-light text-gray-400">Owner of Concrete Experts Company©</div>
					</div>
				</figcaption>
			</figure>
		</div>
	</section>
	<!-- Testimonial Section End -->

	<!-- About Me Section Starts -->
    <section id="aboutSection" class="bg-[#010105] h-screen grid content-center">
        <div class="grid max-w-screen-xl justify-center items-center px-4 py-8 mx-auto gap-20 lg:grid-cols-12">
  
          <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png" alt="mockup">
          </div>
  
          <div class="mr-auto place-self-center lg:col-span-7">
            <h2 class="max-w-2xl mb-4 text-3xl text-gray-100 font-mono font-medium tracking-tight leading-none lg:text-5xl xl:text-6xl">About Me</h2>
            <p class="max-w-2xl mb-6 text-gray-400 font-sans lg:mb-8 md:text-lg lg:text-xl">A combination of my previous experience in Web Design and 3+ years helping people in the Healthcare sphere sparked this new endeavor. My curiosity pushes me to take risks and ask difficult questions, while my passion drives me from start to finish of a project!</p>
            <p class="max-w-2xl mb-6 text-gray-400 font-sans lg:mb-8 md:text-lg lg:text-xl">For every project, I strive to create thoughtful solutions grounded in user research and strategy with the aim of positively impacting your business.</p> 
          </div>
                            
        </div>
    </section>
    <!-- About Me Section Ends -->

	<!-- Tools Section Starts -->
	<section class="grid justify-center content-center bg-[#010105]/90">
		<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">

			<div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-16">
				<h2 class="mb-4 text-gray-100 text-3xl font-mono font-medium lg:text-5xl xl:text-6xl">Tools I Use</h2>
			</div>

			<div class="space-y-2 gap-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 md:gap-8 xl:gap-8 md:space-y-0">

				<Tool header='Figma'>
					<svg slot="svg" class="w-20 h-20" xmlns="http://www.w3.org/2000/svg" width="21.34" height="32" viewBox="0 0 256 384"><path fill="#0ACF83" d="M64 384c35.328 0 64-28.672 64-64v-64H64c-35.328 0-64 28.672-64 64s28.672 64 64 64Z"/><path fill="#A259FF" d="M0 192c0-35.328 28.672-64 64-64h64v128H64c-35.328 0-64-28.672-64-64Z"/><path fill="#F24E1E" d="M0 64C0 28.672 28.672 0 64 0h64v128H64C28.672 128 0 99.328 0 64Z"/><path fill="#FF7262" d="M128 0h64c35.328 0 64 28.672 64 64s-28.672 64-64 64h-64V0Z"/><path fill="#1ABCFE" d="M256 192c0 35.328-28.672 64-64 64s-64-28.672-64-64s28.672-64 64-64s64 28.672 64 64Z"/></svg>
				</Tool>

				<Tool header='Astro'>
					<svg slot="svg" class="w-20 h-20" width="23" height="32" viewBox="0 0 23 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.6133 22.423C15.6558 23.2417 13.7445 23.8001 11.543 23.8001C8.84098 23.8001 6.57624 22.9589 5.97532 21.8276C5.76042 22.4759 5.71224 23.2181 5.71224 23.692C5.71224 23.692 5.57069 26.0197 7.18966 27.6387C7.18966 26.798 7.87119 26.1165 8.71185 26.1165C10.1527 26.1165 10.151 27.3736 10.1498 28.3935L10.1497 28.4845C10.1497 30.0325 11.0957 31.3595 12.4412 31.9188C12.2341 31.4926 12.1269 31.0247 12.1275 30.5508C12.1275 29.0744 12.9943 28.5247 14.0016 27.8859C14.8031 27.3775 15.6937 26.8127 16.3074 25.6798C16.6379 25.0694 16.8105 24.3861 16.8094 23.692C16.8094 23.2496 16.7407 22.8232 16.6133 22.423Z" fill="#FF5D01"/><path d="M15.9183 0.799738C16.179 1.12341 16.3119 1.56013 16.5778 2.43357L22.3863 21.5147C20.2045 20.3824 17.8628 19.5896 15.4419 19.1635L11.66 6.38321C11.6298 6.28128 11.5675 6.19185 11.4823 6.12831C11.397 6.06476 11.2935 6.03051 11.1872 6.03067C11.0809 6.03084 10.9775 6.06542 10.8925 6.12923C10.8075 6.19305 10.7454 6.28267 10.7156 6.3847L6.97943 19.1572C4.54763 19.5812 2.19513 20.3752 0.00378418 21.5117L5.84072 2.42911C6.10748 1.55725 6.2409 1.12122 6.50162 0.798164C6.73179 0.512978 7.03117 0.291499 7.37122 0.154842C7.75635 0 8.21231 0 9.12413 0H13.2931C14.2062 0 14.6627 0 15.0482 0.155104C15.3886 0.292093 15.6881 0.514035 15.9182 0.799738H15.9183Z" fill="white"/></svg>						
				</Tool>

				<Tool header='HTML5'>
					<svg slot="svg" class="w-20 h-20" xmlns="http://www.w3.org/2000/svg" width="22.7" height="32" viewBox="0 0 256 361"><path fill="#E44D26" d="m255.555 70.766l-23.241 260.36l-104.47 28.962l-104.182-28.922L.445 70.766h255.11Z"/><path fill="#F16529" d="m128 337.95l84.417-23.403l19.86-222.49H128V337.95Z"/><path fill="#EBEBEB" d="M82.82 155.932H128v-31.937H47.917l.764 8.568l7.85 88.01H128v-31.937H85.739l-2.919-32.704Zm7.198 80.61h-32.06l4.474 50.146l65.421 18.16l.147-.04V271.58l-.14.037l-35.568-9.604l-2.274-25.471Z"/><path d="M24.18 0h16.23v16.035h14.847V0h16.231v48.558h-16.23v-16.26H40.411v16.26h-16.23V0Zm68.65 16.103H78.544V0h44.814v16.103h-14.295v32.455h-16.23V16.103h-.001ZM130.47 0h16.923l10.41 17.062L168.203 0h16.93v48.558h-16.164V24.49l-11.166 17.265h-.28L146.35 24.49v24.068h-15.88V0Zm62.74 0h16.235v32.508h22.824v16.05h-39.06V0Z"/><path fill="#FFF" d="M127.89 220.573h39.327l-3.708 41.42l-35.62 9.614v33.226l65.473-18.145l.48-5.396l7.506-84.08l.779-8.576H127.89v31.937Zm0-64.719v.078h77.143l.64-7.178l1.456-16.191l.763-8.568H127.89v31.86Z"/></svg>
				</Tool>

				<Tool header='CSS3'>
					<svg slot="svg" class="w-20 h-20" xmlns="http://www.w3.org/2000/svg" width="22.7" height="32" viewBox="0 0 256 361"><path fill="#264DE4" d="M127.844 360.088L23.662 331.166L.445 70.766h255.11l-23.241 260.36l-104.47 28.962Z"/><path fill="#2965F1" d="m212.417 314.547l19.86-222.49H128V337.95l84.417-23.403Z"/><path fill="#EBEBEB" d="m53.669 188.636l2.862 31.937H128v-31.937H53.669Zm-5.752-64.641l2.903 31.937H128v-31.937H47.917ZM128 271.58l-.14.037l-35.568-9.604l-2.274-25.471h-32.06l4.474 50.146l65.421 18.16l.147-.04V271.58Z"/><path d="M60.484 0h38.68v16.176H76.66v16.176h22.506v16.175H60.484V0Zm46.417 0h38.681v14.066h-22.505v2.813h22.505v32.352h-38.68V34.46h22.505v-2.813H106.9V0Zm46.418 0H192v14.066h-22.505v2.813H192v32.352h-38.681V34.46h22.505v-2.813H153.32V0Z"/><path fill="#FFF" d="m202.127 188.636l5.765-64.641H127.89v31.937h45.002l-2.906 32.704H127.89v31.937h39.327l-3.708 41.42l-35.62 9.614v33.226l65.473-18.145l.48-5.396l7.506-84.08l.779-8.576Z"/></svg>
				</Tool>
				
				<Tool header='Tailwind'>
					<svg slot="svg" class="w-20 h-20" xmlns="http://www.w3.org/2000/svg" width="53.2" height="32" viewBox="0 0 256 154"><defs><linearGradient id="logosTailwindcssIcon0" x1="-2.778%" x2="100%" y1="32%" y2="67.556%"><stop offset="0%" stop-color="#2298BD"/><stop offset="100%" stop-color="#0ED7B5"/></linearGradient></defs><path fill="url(#logosTailwindcssIcon0)" d="M128 0C93.867 0 72.533 17.067 64 51.2C76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.499 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2c-12.8 17.067-27.733 23.467-44.8 19.2c-9.737-2.434-16.697-9.499-24.401-17.318C174.249 14.743 159.725 0 128 0ZM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2c9.737 2.434 16.697 9.499 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2c-12.8 17.067-27.733 23.467-44.8 19.2c-9.737-2.434-16.697-9.499-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8Z"/></svg>
				</Tool>
				
				<Tool header='JavaScript'>
					<svg slot="svg" class="w-20 h-20" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path fill="#F7DF1E" d="M0 0h256v256H0V0Z"/><path d="m67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371c7.905 0 12.89-3.092 12.89-15.12v-81.798h24.057v82.138c0 24.917-14.606 36.259-35.916 36.259c-19.245 0-30.416-9.967-36.087-21.996m85.07-2.576l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607c9.969 0 16.325-4.984 16.325-11.858c0-8.248-6.53-11.17-17.528-15.98l-6.013-2.58c-17.357-7.387-28.87-16.667-28.87-36.257c0-18.044 13.747-31.792 35.228-31.792c15.294 0 26.292 5.328 34.196 19.247l-18.732 12.03c-4.125-7.389-8.591-10.31-15.465-10.31c-7.046 0-11.514 4.468-11.514 10.31c0 7.217 4.468 10.14 14.778 14.608l6.014 2.577c20.45 8.765 31.963 17.7 31.963 37.804c0 21.654-17.012 33.51-39.867 33.51c-22.339 0-36.774-10.654-43.819-24.574"/></svg>
				</Tool>
				
				<Tool header='Webflow'>
					<svg slot="svg" class="w-20 h-20 text-[#4353ff]" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M17.802 8.56s-1.946 6.103-2.105 6.607a4778.8 4778.8 0 0 0-1.484-11.473c-3.316 0-5.089 2.36-6.026 4.851l-2.565 6.637c-.015-.476-.36-6.565-.36-6.565c-.204-3.052-3-4.91-5.262-4.91l2.739 16.6c3.474-.015 5.347-2.361 6.328-4.852c0 0 2.09-5.398 2.176-5.643c.015.23 1.5 10.494 1.5 10.494c3.488 0 5.362-2.202 6.37-4.606L24 3.708c-3.445 0-5.261 2.346-6.198 4.851Z"/></svg>
				</Tool>

				<Tool header='Affinity Photo'>
					<svg slot="svg" class="w-20 h-20 text-[#ec8bf7]" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="m10.44 0l-.48.831l5.88 10.185L22.2 0zm12.84 0l-8.577 14.856H24V.711A.72.72 0 0 0 23.28 0zM9.42 1.767L5.76 8.106h7.32zm1.563 7.257h-.018c-.36.005-.7.216-.879.523l-1.083 1.88l-.008.014a1.052 1.052 0 0 0 0 1.02a16710.388 16710.388 0 0 0 1.093 1.894c.184.31.53.5.885.501c.002 0 1.38.002 2.067-.001c.36-.005.699-.205.878-.512c.364-.631.731-1.261 1.093-1.894c.176-.314.17-.703-.007-1.011l-.01-.015l-1.078-1.87l-.006-.009a1.053 1.053 0 0 0-.879-.52h-.012zM5.22 9.04L0 18.082v.39l.003 4.871a.72.72 0 0 0 .662.655L9.3 9.04zm2.94 3.845L1.736 24h12.84zm2.757 2.906L15.657 24h7.623a.72.72 0 0 0 .72-.72v-7.488Z"/></svg>
				</Tool>
			</div>
		</div>
	</section>
	<!-- Tools Section Ends -->
	
</MainLayout>
