---
import Navigation from '../components/Navigation.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title='CEC Website | Kevin Payano Portfolio'>
    <!-- Hero 1 Section Starts -->
    <section class="">
        <div class="relative w-full h-screen">
          <img alt="" src="assets/CEC-Website.png" transition:name="project-image" class="object-center object-cover inset-0 absolute h-full w-full" alt="...">
          <div class="relative bg-gradient-to-t from-black to-black/25 w-full h-full">
  
            <!-- Title & Description Start -->
            <figure class="absolute h-full w-full grid content-center justify-center pb-8 sm:px-4"> 
              <div class="space-y-3 mb-6">
  
                <h3 class="text-6xl text-center font-IBMPlex leading-tight text-white">
                  Concrete Experts Company Website
                </h3>
  
                <p class="text-lg text-center font-IBMPlex text-gray-400">
                  Flowbite helps you connect with friends, family and communities of people who share your interests.
                </p>
  
              </div>
            </figure>
            <!-- Title & Description End -->
  
          </div>
        </div>
    </section>
    <!-- Hero 1 Section Ends -->

    <Navigation></Navigation>

    <!-- Hero 2 Section Starts -->
    <section class="">
        <div class="h-screen gap-12 mx-auto max-w-screen-xl grid content-center lg:grid-cols-2">
            
            <!-- Left Side -->
            <div class="text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-6xl tracking-tight font-IBMPlex text-gray-100">Revitalizing the Online Presence of Concrete Experts Company</h2>
                <p class="mb-8 font-IBMPlex lg:text-xl">Our rigorous security and compliance standards are at the heart of all we do. We work tirelessly to protect you and your customers.</p>    
            </div>
  
            <!-- Right Side -->
            <div class="grid divide-y-2">
  
              <div class="grid grid-cols-2 content-center">
                  <div class="text-left">
                      <h3 class="font-bold text-gray-100 text-xl">Client</h3>
                  </div>
                  <div class="text-right">
                      <p class="text-gray-500">Concrete Experts Company</p>
                  </div>
              </div>
  
              <div class="grid grid-cols-2 content-center">
                <div class="text-left">
                    <h3 class="font-bold text-gray-100 text-xl">Role</h3>
                </div>
                <div class="text-right">
                    <p class="text-gray-500">Web Designer</p>
                </div>
              </div>
  
              <div class="grid grid-cols-2 content-center">

                <div class="text-left">
                    <h3 class="font-bold text-gray-100 text-xl">Tools</h3>
                </div>

                <div class="flex justify-end">
  
                  <div class="p-1 rounded-lg">
                    <img data-tooltip-target="tooltip-logo-figma" class="object-contain w-auto h-8" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/technologies/figma.svg" alt="">
                  </div>
  
                  <div class="p-1 rounded-lg">
                    <img data-tooltip-target="tooltip-logo-html5" class="object-contain w-auto h-8" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/technologies/html5.svg" alt="">
                  </div>
  
                  <div class="p-1 rounded-lg">
                    <img data-tooltip-target="tooltip-logo-css3" class="object-contain w-auto h-8" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/technologies/css-3.svg" alt="">
                  </div>
  
                  <div class="p-1 rounded-lg">
                    <img data-tooltip-target="tooltip-logo-javascript" class="object-contain w-auto h-8" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/technologies/javascript.svg" alt="">
                  </div>
  
                  <div class="p-1 rounded-lg">
                    <img data-tooltip-target="tooltip-logo-tailwind-css" class="object-contain w-auto h-8" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/technologies/tailwind-css.svg" alt="">
                  </div>
  
                </div>
                
              </div>
  
              <div class="grid grid-cols-2 content-center">
                <div class="text-left">
                    <h3 class="font-bold text-gray-100 text-xl">Year</h3>
                </div>
                <div class="text-right">
                    <p class="text-gray-500">2023</p>
                </div>
              </div>
  
  
          </div>

        </div>
    </section>
    <!-- Hero 2 Section Ends -->

    <!-- Video Case Study Section Start -->
    <section class="h-screen">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:px-12 sm:text-center lg:py-16">
            <h2 class="mb-4 text-4xl tracking-tight font-IBMPlex text-gray-100">Video Case Study</h2>
            <iframe class="mx-auto mt-8 w-full max-w-2xl h-full rounded-lg lg:mt-12 sm:h-96" src="https://www.youtube.com/embed/4bnJG2UDr9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
    <!-- Video Case Study Section End -->

</MainLayout>

