---

---

<!-- Navigation Section Starts -->
<div class="fixed z-50 w-full h-16 max-w-lg -translate-x-1/2 backdrop-blur-md border border-gray-700 rounded-full bottom-4 left-1/2">
    <div class="grid h-full max-w-lg grid-cols-4 mx-auto">

        <!--Home Button Start-->
        <a href="index.html" class="inline-flex flex-col items-center justify-center px-5 rounded-l-full hover:bg-gray-600/25 group">
          <img src="/assets/HomeButton.png" class="w-6 h-6 group-hover:invisible"/>
          <div class="absolute z-10 inline-block px-3 py-2 text-sm font-IBMPlex text-white transition-opacity duration-300 rounded-lg shadow-sm opacity-0 group-hover:opacity-100">
            Home
          </div>
        </a>
        <!--Home Button End-->

        <!--Project Button Start-->
        <a href="" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-600/25 group">
          <svg class="w-6 h-6 text-gray-500 group-hover:invisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M19.5 21a3 3 0 003-3v-4.5a3 3 0 00-3-3h-15a3 3 0 00-3 3V18a3 3 0 003 3h15zM1.5 10.146V6a3 3 0 013-3h5.379a2.25 2.25 0 011.59.659l2.122 2.121c.14.141.331.22.53.22H19.5a3 3 0 013 3v1.146A4.483 4.483 0 0019.5 9h-15a4.483 4.483 0 00-3 1.146z" />
          </svg>            
          <div class="absolute z-10 inline-block px-3 py-2 text-sm font-IBMPlex text-white transition-opacity duration-300 rounded-lg shadow-sm opacity-0 group-hover:opacity-100">
            Work
          </div>
        </a>
        <!--Project Button End-->

        <!--About Button Start-->
        <a href="" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-600/25 group">
          <svg class="w-6 h-6 mb-1 text-gray-500 group-hover:invisible" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"></path>
          </svg>
          <div class="absolute z-10 inline-block px-3 py-2 text-sm font-IBMPlex text-white transition-opacity duration-300 rounded-lg shadow-sm opacity-0 group-hover:opacity-100">
            About  
          </div>
        </a>
        <!--About Button End-->

        <!--Contact Button Start-->
        <a href="" class="inline-flex flex-col items-center justify-center px-5 rounded-r-full hover:bg-gray-600/25 group">
          <svg class="w-6 h-6 text-gray-500 group-hover:invisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
            <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
          </svg>            
          <div class="absolute z-10 inline-block px-3 py-2 text-sm font-IBMPlex text-white transition-opacity duration-300 rounded-lg shadow-sm opacity-0 group-hover:opacity-100">
            Contact
          </div>
        </a>
        <!--Contact Button End-->

    </div>
  </div>
  <!-- Navigation Section Ends -->