---
interface Props {
    header: string;
}

const {header} = Astro.props;
---

<div class="flex flex-col justify-center items-center p-6 rounded bg-black border border-gray-600 transition duration-300 ease-in-out hover:border-gray-200">
    <div class="flex justify-center items-center mb-4 w-10 h-10 lg:h-44 lg:w-48">
        <slot name="svg"/>  
    </div>
    <h3 class="mb-2 text-xl font-IBMPlexSans text-white">{header}</h3>
</div>