---

---

<section class="">
    <div class="relative w-full h-screen">

        <video autoplay loop class="object-center object-cover absolute inset-0 h-full w-full">
            <slot class="z-0" slot="bgVideo" />
        </video>
        
    </div>
</section>