---

---

<!-- Contact Me Section Starts -->
<section id="contactSection" class="h-screen grid justify-center content-center bg-gradient-to-b from-black to-black/80">
    <div class="relative py-8 max-w-screen-xl">

        <!-- Gradient Orbs Start -->
        <div class="absolute z-0 top-10 left-96 w-32 h-32 bg-emerald-400 rounded-full mix-blend-screen filter blur-2xl opacity-40 animate-contactGrad"></div>
        <div class="absolute z-0 top-10 right-96 w-32 h-32 bg-sky-500 rounded-full mix-blend-screen filter blur-2xl opacity-40 animate-contactGrad animation-delay-4000"></div>
        <!-- Gradient Orbs End -->

        <!-- Info Container Start -->
        <div class="text-center relative z-10">
            <h1 class="mb-8 text-5xl tracking-tight font-mono font-medium text-gray-100">Let's create something awesome together!</h1>

            <a href="#" title="" class="cursor-pointer group text-white font-sans text-xl inline-flex items-center transition ease-in-out duration-500 hover:underline hover:-translate-x-px" role="button">
            hello@kevinpayano.com
            <svg class="w-6 h-6 opacity-0 transition ease-in-out duration-500 group-hover:translate-x-1 group-hover:opacity-100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
            </svg>              
            </a>      
        </div> 
        <!-- Info Container End --> 

    </div>
</section>
<!-- Contact Me Section Ends -->