---

---

<!-- Footer Section Starts -->
<footer class="relative p-4 sm:p-6 bg-black/80">
    <div class="mx-auto max-w-screen-xl">

        <!-- Top Footer Section Start -->
        <div class="flex flex-row justify-between">

            <!-- Home Link Wrapper -->
            <div class="">
                <a href="#" class="cursor-pointer flex items-center">
                    <span class="self-center text-lg text-gray-50 font-sans font-medium whitespace-nowrap md:text-xl xl:text-2xl">Kevin Payano</span>
                </a>
            </div>

            <!-- Social Links Wrapper -->
            <div class="flex space-x-6 sm:justify-center">

                <!-- Github Icon Link -->
                <a href="https://github.com/KevinPayano" class="cursor-pointer text-gray-300 hover:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974c0 4.406 2.857 8.145 6.821 9.465c.499.09.679-.217.679-.481c0-.237-.008-.865-.011-1.696c-2.775.602-3.361-1.338-3.361-1.338c-.452-1.152-1.107-1.459-1.107-1.459c-.905-.619.069-.605.069-.605c1.002.07 1.527 1.028 1.527 1.028c.89 1.524 2.336 1.084 2.902.829c.091-.645.351-1.085.635-1.334c-2.214-.251-4.542-1.107-4.542-4.93c0-1.087.389-1.979 1.024-2.675c-.101-.253-.446-1.268.099-2.64c0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336a9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021c.545 1.372.203 2.387.099 2.64c.64.696 1.024 1.587 1.024 2.675c0 3.833-2.33 4.675-4.552 4.922c.355.308.675.916.675 1.846c0 1.334-.012 2.41-.012 2.737c0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974C22 6.465 17.535 2 12.026 2z" clip-rule="evenodd"/>
                    </svg>
                </a>

                <!-- LinkedIn Icon Link -->
                <a href="https://www.linkedin.com/in/kevinpayano/" class="cursor-pointer text-gray-300 hover:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
                    </svg>
                </a>
            </div>

        </div>
        <!-- Top Footer Section Ends -->

        <hr class="my-6 border-gray-400 sm:mx-auto lg:my-8" />

        <!-- Bottom Footer Section Start -->
        <div class="sm:flex sm:items-center sm:justify-between">

            <span class=" text-white text-sm font-sans inline-flex items-center px-2.5 py-0.5 rounded">
              <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path fill="currentColor" d="m388.632 393.82l107.191-137.88l-107.139-137.762l-25.26 19.644l91.864 118.122l-91.92 118.236l25.264 19.64zm-240.053-19.639L56.712 255.999l91.917-118.176l-25.258-19.646L16.177 255.993l107.137 137.826l25.265-19.638zM330.529 16h-32.97L178.441 496h32.971L330.529 16z"/></svg>
              with <span class="font-sans italic mx-1.5">Astro</span> & <span class="font-sans italic mx-1.5">Tailwind</span>                
            </span>
            
        </div>
        <!-- Bottom Footer Section Ends -->

    </div>
</footer>
<!-- Footer Section Ends -->