---

---

<section class="h-screen grid content-center bg-gradient-to-b from-[#010105] via-[#010105]/20 to-[#010105]">
    <div class="max-w-screen-xl py-8 lg:py-16 px-4 mx-auto lg:px-6">
        <p class="text-lg font-sans text-teal-500">Impact</p>
        <h2 class="mb-4 text-3xl tracking-tight font-mono font-medium sm:text-4xl text-gray-50">Sign up for our newsletter</h2>
        <p class="max-w-2xl font-light text-gray-500 sm:text-xl">Stay up to date with the roadmap progress, announcements and exclusive discounts feel free to sign up with your email.</p>
        <dl class="grid gap-8 mt-8 sm:grid-cols-2 lg:gap-20 lg:mt-14 lg:grid-cols-4 text-gray-50">
            <div class="flex flex-col">
                <dt class="mb-2 text-3xl md:text-4xl font-extrabold tracking-tight">$76 billion</dt>
                <dd class="font-light text-gray-500">24h trading volume on Flowbite exchange</dd>
            </div>
            <div class="flex flex-col">
                <dt class="mb-2 text-3xl md:text-4xl font-extrabold">600+</dt>
                <dd class="font-light text-gray-500">Cryptocurrencies listed on our platform</dd>
            </div>
            <div class="flex flex-col">
                <dt class="mb-2 text-3xl md:text-4xl font-extrabold">90 milion</dt>
                <dd class="font-light text-gray-500">Registered users who trust Flowbite </dd>
            </div>
            <div class="flex flex-col">
                <dt class="mb-2 text-3xl md:text-4xl font-extrabold">0.10%</dt>
                <dd class="font-light text-gray-500">Lowest transaction fees</dd>
            </div>
        </dl>
    </div>
</section>