---
import '../styles/main.css';
import ProblemCard from '../components/ProblemCard.astro';
import SolutionCard from '../components/SolutionCard.astro';
---

<section class="h-screen bg-gradient-to-b from-[#010105] via-[#010105]/20 to-[#010105]">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

        <!-- Header & Description Start -->
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-100">Designed for business teams like yours</h2>
            <p class="mb-5 font-light text-gray-400 sm:text-xl">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
        </div>
        <!-- Header & Description End -->

        <!-- Pricing Card Container Start -->
        <div class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-10 lg:space-y-0">

            <ProblemCard 
                header="Problems"
                paragraph='Heres a list of problems the stake holder had with his website.'
                pointOne='No SEO'>
            </ProblemCard>

            <SolutionCard 
                header='Solutions'
                paragraph='Heres a list of solutions for those problems.'
                pointOne='Implement SEO'>
            </SolutionCard>
            
        </div>
    </div>
</section>