---

---

<section class="bg-[#010105] h-screen grid content-center">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

        <div class="grid gap-6 mt-12 lg:mt-14 lg:gap-12 md:grid-cols-2">

            <!-- Header & Description -->
            <div class="flex mb-2 md:flex-col md:mb-0">
                <p class="text-lg font-sans font-medium text-teal-500">Standout From The Crowd</p>
                <h2 class="mt-3 mb-4 text-3xl tracking-tight font-mono md:text-4xl text-white">Image Reviews</h2>
                <p class="font-light font-sans sm:text-xl text-gray-400">I noticed that most of the competitors sites have reviews from clients about a job well done they did on their property. But, stepping into the mindset of a prospective client got me questioning, "Can I actually witness the work they've completed for this customer?"</p>
                <br>
                <p class="font-light font-sans sm:text-xl text-gray-400">So I decided to design a picture testimonial carousel that displays not only the feedback but also the finished project to any potential clients.</p>
            </div>

            <!-- Review Video -->
            <div class="flex justify-center">
                <video autoplay loop class="rounded-md w-full place-self-end">
                    <source src="/video/CEC-Reviews.mp4" type="video/mp4" />
                </video>
            </div>

        </div>

    </div>
</section>