---

---

<section class="bg-[#010105]">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

        <div class="grid gap-6 mt-12 lg:mt-14 lg:gap-12 md:grid-cols-2">

            <!-- Header & Description -->
            <div class="flex mb-2 md:flex-col md:mb-0">
                <p class="text-lg font-sans text-teal-500">Standout From The Crowd</p>
                <h2 class="mt-3 mb-4 text-3xl tracking-tight font-mono font-medium md:text-4xl text-white">Image Reviews</h2>
                <p class="font-light font-sans sm:text-xl text-gray-400">I noticed that most of the competitors sites have reviews from clients about a job well done they did on their property. However, I put myself in the shoes of a new client and asked myself, "Can I see the job they done for that client?"</p>
                <br>
                <p class="font-light font-sans sm:text-xl text-gray-400">So I decided to build an image review slideshow showing potential clients both the review and the project that was done.</p>
            </div>

            <!-- Review Image -->
            <div class="flex md:flex-col">
                <img class="mr-4 w-auto h-36 md:w-full md:h-auto rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-content-3.png" alt="office image 3" />
            </div>

        </div>

    </div>
</section>